main{
max-width:1000px;
margin:auto;
background:white;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 20px;
}
nav{
    margin-top: 10px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: blue;
    font: size 18px;
}
.intro{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
