header {
    background-color:gray ;
    padding: 20px;
}
nav {
    margin-top: 12px;
}
nav a{
    margin-right: 12px;
    color:blue;
    text-decoration: underline;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
aside{
    background-color: #d9d9d9;
    padding: 15px;
    margin: 20px;
}
footer {
    background-color: gray;
    padding: 15px;
}