header {
    background-color:rgba(128, 128, 128, 0.625) ;
    padding: 20px;
}
nav {
    margin-top: 12px;
}
nav a{
    margin-right: 12px;
    color:blue;
    text-decoration: underline;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
aside{
    background-color: rgba(255, 255, 0, 0.558);
    padding: 15px;
    margin: 20px;
}
footer {
    background-color: rgba(128, 128, 128, 0.625);
    padding: 15px;
}   