/*Header*/
header { 
    background-color:rgba(128, 128, 128, 0.625) ;
    padding: 20px;
}
/*navigation bar*/
nav {
    margin-top: 12px;
}
/* Hyperlinks */
nav a{
    margin-right: 12px;
    color:blue;
    text-decoration: underline;
}
/*Body of the page*/
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
aside{ 
    background-color: rgba(128, 128, 128, 0.625);
    padding: 15px;
    margin: 20px;
}
/*Footer*/
footer {
    background-color: rgba(128, 128, 128, 0.625);
    padding: 15px;
}   
